<div class="row">
  <div class="col-sm-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        <p class="card-title"> Login </p>
      </div>
      <div class="card-body">
        <form #Form="ngForm" (ngSubmit)="OnLogin()" >
          <div class="col-sm-12 m-2">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" ngModel name="Name" required>
            <!-- <span class="error-block" *ngIf="!Form.value.Name.valid && (Form.value.Name.touched )" >
              Please enter name
            </span> -->
          </div>
          <div class="col-sm-12 m-2">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" ngModel name="Password" required>
            <!-- <span class="error-block" *ngIf="!Form.value.Password.valid && (Form.value.Password.touched )" >
              Please enter password
            </span> -->
          </div>
          <div class="col-sm-12 m-2">
            <button [disabled]="!Form.valid" type="submit" class="btn btn-primary m-2">Save</button>
            <button type="reset" class="btn btn-secondary" (click)="OnReset()">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
